table{
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font:normal 3em Arial, Helvetica, sans-serif;
}

tr{
    height: 16.02vh;
    background-color: #000000;

}
td{
    width: 25vw;
    border: 1px solid #000000;
}

#inputBox{
    width: 99%;
    border: 0px;
    background-color: #000000;
    color: #fff;
    font-size: 1.4em;
    text-align: right;
}
.digitButton{
    background-color: #4e254e;
}
.operatorButton{
    background-color: #0648ff;
}
.ACButton{
    background-color: #ff0000;
}
.Del{
    background-color: #e04040a2;
}